<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Weather App</title>
    <script src="/static/GeoWeatherFinder.js"></script>
</head>
<body onload="getLocation()">
    <h1 id="location">{{ location }} の天気情報</h1>
    <p><strong>気温:</strong> <span id="temperature">{{ weather.temp|round(1) }} °C</span></p>
    <p><strong>体感温度:</strong> <span id="feels_like">{{ weather.feels_like|round(1) }} °C</span></p>
    <p><strong>湿度:</strong> <span id="humidity">{{ weather.humidity }}%</span></p>
    <p><strong>気圧:</strong> <span id="pressure">{{ weather.pressure }} hPa</span></p>
    <p><strong>雲の量:</strong> <span id="clouds">{{ clouds.all }}%</span></p>
    <p><strong>天気:</strong> <span id="weather_main">{{ weather_main }}</span></p>
    <p><strong>詳細:</strong> <span id="weather_description">{{ weather_description }}</span></p>
    <p><strong>風速:</strong> <span id="wind_speed">{{ wind.speed }} m/s</span></p>
    <p><strong>風向:</strong> <span id="wind_deg">{{ wind.deg }} 度</span></p>
    <!-- <p><strong>IP:</strong> {{ ip }} </p> -->
    <p id="rain" style="display: none;"><strong>降雨量:</strong> <span id="rain_amount"></span></p>
</body>
</html>
